rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data;
    }

    function isSuperAdmin() {
      return isAuthenticated() && getUserData().rol == 'superadmin';
    }

    function hasRole(allowedRoles) {
      return getUserData().rol in allowedRoles;
    }

    // Verifica si el usuario pertenece a la empresa y si la empresa está ACTIVA
    function isFromActiveEmpresa(empresaId) {
      let userDoc = getUserData();
      let empresaData = get(/databases/$(database)/documents/empresas/$(empresaId)).data;
      
      return isAuthenticated() 
             && userDoc.empresaId == empresaId 
             && empresaData.estado == 'activa';
    }

    match /empresas/{document} {
      allow read, write: if isSuperAdmin();
    }

    match /usuarios/{document} {
      // Dueños y admins pueden ver usuarios de su propia empresa
      allow read: if request.auth.uid == document || isSuperAdmin() || (isAuthenticated() && resource.data.empresaId == getUserData().empresaId && hasRole(['dueño', 'admin']));
      allow write: if isSuperAdmin() || request.auth.uid == document;
    }

    match /clientes/{document} {
      allow read: if isSuperAdmin() || isFromActiveEmpresa(resource.data.empresaId);
      allow create, update: if isSuperAdmin() || (isFromActiveEmpresa(request.resource.data.empresaId) && hasRole(['dueño', 'admin', 'cajero']));
    }
    match /prestamos/{document} {
      allow read: if isSuperAdmin() || isFromActiveEmpresa(resource.data.empresaId);
      allow create, update: if isSuperAdmin() || (isFromActiveEmpresa(request.resource.data.empresaId) && hasRole(['dueño', 'admin']));
      allow delete: if false; 
    }
    match /cuotas/{document} {
      allow read: if isSuperAdmin() || isFromActiveEmpresa(resource.data.empresaId);
      allow create: if isSuperAdmin() || (isFromActiveEmpresa(request.resource.data.empresaId) && hasRole(['dueño', 'admin']));
      allow update: if isSuperAdmin() || (isFromActiveEmpresa(resource.data.empresaId) && hasRole(['dueño', 'admin', 'cajero']));
      allow delete: if false;
    }
    match /pagos/{document} {
      allow read: if isSuperAdmin() || isFromActiveEmpresa(resource.data.empresaId);
      allow create: if isSuperAdmin() || (isFromActiveEmpresa(request.resource.data.empresaId) && hasRole(['dueño', 'admin', 'cajero']));
      allow update, delete: if false; 
    }
    match /settings/{document} {
      allow read: if isSuperAdmin() || isFromActiveEmpresa(resource.data.empresaId);
      allow write: if isSuperAdmin() || (isFromActiveEmpresa(request.resource.data.empresaId) && hasRole(['dueño', 'admin']));
    }
  }
}
